@model List<PhatTrienWeb_Project_NguyenThanhLoc.Models.Item>

<div class="sidebar_section_content">
    <ul class="categories_list">
        <li><a>You have <b>@Model.Count products</b> in cart.</a></li>
    </ul>
</div>
