@model List<PhatTrienWeb_Project_NguyenThanhLoc.Models.Item>

<div class="sidebar_section_content">
    <ul class="categories_list">
        @if (Model.Count < 2)
        {
            <li><a>You have <b>@Model.Count product</b> in cart.</a></li>
        }
        else
        {
            <li><a>You have <b>@Model.Count products</b> in cart.</a></li>
        }
    </ul>
</div>
