<div>
    <h3 style="text-align:center; color:red">YOU MUST LOG IN BEFORE CONTINUING TO BUY!</h3>
</div>

<div style="text-align:center">
    <a href="@Url.Action("Login", "User")">Click here to Sign In</a>
</div>

